.avatar_header {
  background-color: #FFC20A;
  background-image: url("/images/p1.png");
  height: 400px;
  margin-bottom: 50px;
  z-index: 2;
}

.header_content {
  text-align: center;
  padding-top: 1em;
}

.header_content h2 {
  position: relative;
  bottom: 50px;
}

/* position the show-new-tweet in the header */
/* .new-tweet-words is defined in nav.css */
.avatar_header > .show-new-tweet {
  position: relative;
  bottom: 380px;
  right: 40px;
}

/* position the new tweet arrows */
/* arrow styling and hover functionality are in the */
/* nav.css file */
.avatar_header .fa-angle-double-down {
  position: relative;
  top: 40px;
  left: 100px;
}


@media only screen and (min-width: 960px) {
  .avatar_header {
    width: 40%;
    margin-top: 160px;
    margin-left: 5%;
    float: left;
  }

  .avatar_header > .show-new-tweet {
    display: none;
  }
}