.avatar_header {
  background-color: #FFC20A;
  background-image: url("/images/p1.png");
  height: 150px;
  margin-bottom: 50px;
  z-index: 2;
}

.header_content {
  text-align: center;
  padding-top: 1em;
}

.header_content h2 {
  float: left;
  position: relative;
  bottom: 20px;
  left: 30px;
}

.header_content img {
  width: 100px;
  float: left;
  position: relative;
  left: 20px;
}

/* position the show-new-tweet in the header */
/* .new-tweet-words is defined in nav.css */
.avatar_header > .show-new-tweet {
  float: right;
  position: relative;
  right: 50px;
}

/* position the new tweet arrows */
/* arrow styling and hover functionality are in the */
/* nav.css file */
.avatar_header .fa-angle-double-down {
  position: relative;
  top: 40px;
  left: 100px;
}


@media only screen and (min-width: 960px) {
  .avatar_header {
    width: 25%;
    height: 400px;
    margin-top: 160px;
    margin-left: 5%;
    float: left;
  }

  .header_content img {
    max-width: 90%;
    max-height: 90%;
    position: relative;
    left: 15px;
  }

  .header_content h2 {
    position: relative;
    left: 50px;
  }

  .avatar_header > .show-new-tweet {
    display: none;
  }
}