.id_header {
  background-color: #FFC20A;
  background-image: url("/images/p1.png");
  height: 400px;
  margin-bottom: 50px;
  z-index: 2;
}

.header_content {
  text-align: center;
  padding-top: 1em;
}

.header_content h2 {
  position: relative;
  bottom: 50px;
}

/* position the show-new-tweet in the header */
/* .new-tweet-words is defined in nav.css */
.id_header > .show-new-tweet {
  position: relative;
  bottom: 380px;
  right: 40px;
}

/* position the arrows to show new tweet */
#header-arrows {
  color: red;
  float: right;
  position: relative;
  top: 40px;
  left: 100px;
}

#header-arrows:hover {
  box-shadow: 0 0 15px #FFFFFF;
}


@media only screen and (min-width: 960px) {
  .id_header {
    width: 40%;
    margin-top: 160px;
    margin-left: 5%;
    float: left;
  }

  .id_header > .show-new-tweet {
    display: none;
  }
}