nav {
  background-color: #0C7BDC;
  color: #FFFFFF;
  height: 120px;
  padding-left: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 3;
  display: none;
}

span {
  font-size: 24px;
  font-family: 'Bungee', sans-serif;
  float: left;
}

nav > .show-new-tweet {
  position: relative;
  float: right;
}

.new-tweet-words{
  font-size: 24px;
  float: right;
}

#nav-arrows {
  color: red;
  float: right;
  position: relative;
  top: 40px;
  left: 100px;
}

#nav-arrows:hover {
  box-shadow: 0 0 15px #FFFFFF;
}

@media only screen and (min-width: 960px) {
  nav {
    display: block;
  }
}

