nav {
  background-color: #0C7BDC;
  color: #FFFFFF;
  height: 120px;
  padding-left: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 3;
}

span {
  font-size: 24px;
  font-family: 'Bungee', sans-serif;
  float: left;
}

#new_tweet {
  font-size: 24px;
  float: right;
}

#show-new-tweet {
  color: red;
  float: right;
  position: relative;
  top: 40px;
  left: 100px;
}
